@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
:root {
    --main-color: #a55e3f;
    --main-color2: #c27c5d;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

.navbar .navbar-brand h2 {
    font-size: 20px !important;
}

.dropdown-menu {
    font-size: 15px !important;
}

.container.prod.prod {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.prod-id b {
    font-size: 18px;
}

.container.prod .title {
    font-size: 3.5rem;
    color: #444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.container.prod .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.container.prod .products-container .product {
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    outline: .1rem solid var(--main-color2);
    outline-offset: -1.5rem;
    cursor: pointer;
}

.container.prod .products-container .product:hover {
    outline: .2rem solid var(--main-color);
    outline-offset: 0;
}

.container.prod .products-container .product img {
    height: 25rem;
}

.container.prod .products-container .product:hover img {
    transform: scale(.9);
}

.container.prod .products-container .product h3 {
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;
}

.container.prod .products-container .product:hover h3 {
    color: var(--main-color2);
}

.container.prod .products-container .product .price {
    font-size: 2rem;
    color: #444;
}

.products-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99999999;
    overflow: hidden;
    overflow-y: scroll;
}

.products-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    border-radius: 25px;
    width: 80% !important;
    /* width: 40rem; */
}

.products-preview .preview.active .content {
    font-size: 16px;
    text-align: justify;
}

.products-preview .preview.active {
    /* display: inline-block; */
    display: flex;
    margin-top: 30vh;
    margin-bottom: 10vh;
}

.products-preview .preview img {
    height: 30rem;
}

.products-preview .preview h3 {
    color: #444;
    padding: .5rem 0;
    font-size: 2.5rem;
}

.products-preview .preview p {
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 1.6rem;
    color: #777;
}

.products-preview .preview .price {
    padding: 1rem 0;
    font-size: 2.5rem;
    color: #27ae60;
}

.products-preview .preview .buttons {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.products-preview .preview .buttons a {
    flex: 1 1 16rem;
    padding: 1rem;
    font-size: 1.8rem;
    color: #444;
    border: .1rem solid #444;
}

.products-preview .preview .buttons a.cart {
    background: #444;
    color: #fff;
}

.products-preview .preview .buttons a.cart:hover {
    background: #111;
}

.buy {
    width: 50%;
    height: 33px;
    border: 1px solid #444;
    background: #444;
    color: #fff;
}

.products-preview .preview .buttons .buy:hover {
    background: #444;
    color: #fff;
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:768px) {
    .products-preview .preview img {
        height: 25rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    .products-preview {
        height: 120vh;
    }
}

.small {
    height: 30%;
}

.small img {
    object-fit: contain;
    height: 100px !important;
}

.fa-times {
    background: var(--main-color2) !important;
    height: 4px !important;
    width: 30px !important;
    transform: rotate(45deg) !important;
    position: absolute !important;
    right: 11px !important;
    top: 17px !important;
    transition: 0.5s !important;
    z-index: 5 !important;
    border-radius: 12px;
}

.fa-times::before {
    content: '' !important;
    width: 100% !important;
    height: 100% !important;
    transform: rotate(90deg) !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    background: var(--main-color2) !important;
    transition: 0.5s !important;
}

.fa-times:hover,
.fa-times::before:hover {
    transition: 0.5s !important;
    /* transform: rotate(315deg) !important; */
    background: var(--main-color) !important;
}